<div class="center-container">
  <h1>Bienvenue dans le Dashboard Admin</h1>
  <p>Gérez votre application ici.</p>

  <%= button_to "Gérer les utilisateurs", admin_users_path, method: :get, class: 'btn btn-primary' %>
  <%= button_to 'Accéder à la boutique', shop_path, method: :get, class: 'btn btn-primary' %>
</div>

<style>
  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px; /* Ajustez selon vos besoins */
  }

  .center-container h1, .center-container p {
    margin: 0;
  }
</style>
