<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nouvelle commande reçue de <%= @order.name %> !</p>
    <p>
      <strong>Détails de la commande :</strong><br>
      --------------------------
    </p>
    <p>Nom : <%= @order.name %></p>
    <p>Email : <%= @order.email %></p>
    <p>
      <strong>Message :</strong><br>
      ----------
    </p>
    <p><%= @order.message %></p>
  </body>
</html>